{%- doc -%}
  Renders a "Buy Now" button that adds the product to cart and redirects to checkout.
  
  @param {boolean} can_add_to_cart - Whether the product can be added to the cart.
  @param {object} product - The product object to be added to the cart.
  @param {string} [class] - Additional CSS classes to apply to the button.
  @param {string} [id] - The ID attribute for the button.
{%- enddoc -%}

{%- liquid
  assign buy_now_text = 'actions.buy_now' | t
-%}

<form method="post" action="/cart/add" class="buy-now-form">
  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
  <input type="hidden" name="quantity" value="1">
  <input type="hidden" name="return_to" value="/checkout">
  
  <button
    {% if id != blank %}
      id="{{ id }}"
    {% endif %}
    type="submit"
    name="add"
    class="button {{ class }}"
    {% unless can_add_to_cart %}
      disabled
    {% endunless %}
  >
    <span class="buy-now-text">
      <span class="buy-now-text__content">
        <span>{{ buy_now_text }}</span>
      </span>
    </span>
  </button>
</form>

{% stylesheet %}
  .buy-now-form {
    width: 100%;
  }

  .buy-now-button {
    width: 100%;
    height: var(--height-buy-buttons);
    user-select: none;
    transition-property: color, box-shadow, background-color, scale, translate;
    transition-duration: var(--animation-speed);
    transition-timing-function: var(--ease-out-cubic);
  }

  .buy-now-button:active {
    scale: 0.99;
    translate: 0 1px;
  }

  .buy-now-text {
    display: flex;
    gap: var(--gap-2xs);
    align-items: center;
    justify-content: center;
  }
{% endstylesheet %}
